body{
  /* background-color: #FFEEDB; */
  background-color: #EAF6F6;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 20%;
}
h3{
  color: #FF0000
}
h1{
  color: #66BFBF
}
